<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>CodeBen2o</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- AngularJS Library -->
    <script src="assets/js/angular/angular.js"></script>
    <script src="assets/js/angular/angular-resource.js"></script>
    
    <script src="assets/js/jquery.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://www.firebase.com/js/libs/idle.js"></script>

    <!-- Google Analytics Tracking Code -->
    <script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39828646-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

    <link href="assets/css/ace_editor.css" rel="stylesheet">
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/additional.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 1200px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
    </style>
  </head>
  <body ng-controller="mainCtrl">
  	<div id="fb-root"></div>
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="main.html">Home</a></li>
          <li><a href="donate.html">Donate</a></li>
          <li><a href="contact.html">Feedback</a></li>
          <li ng-show="User.login"><a href="/logout">Logout</a></li>
        </ul>
        <h3 class="muted"><a href="index.html">CodeBen2o</a></h3>
      </div>
      <hr>
      
      <div class="container-fluid" ng-controller="verifierCtrl">
  		<div class="row-fluid">
    		<div class="span2">
    			<div class="well well-small">
		      		<!--Sidebar content-->
		      		<p>Hi, <b>{{User.displayName}}</b></p>
		      		<p><span class="badge badge-warning">Who's Online:</span></p>
		      		<div id="presenceDiv" style="height: 180px; overflow: auto"></div>
		      	</div>
		      	<div class="well well-small">
		      		<p><span class="badge badge-warning">Chat with us:</span></p>
	      		</div>
	      		<noscript>Enable Javascript to get full functionality of this <a href="http://www.freeshoutbox.net/">shoutbox</a><br /></noscript><iframe id="shoutbox" src="http://codeben2o.freeshoutbox.net/"></iframe>
    		</div>
    		<div class="span10">
	    		<div class="well well-small">
	    			<!--Body content-->
	    			<div id="note" class="alert alert-success">
	    				<p>Note: We support only Java and Javascript pair programming. There are only 2 problem set available as of now. We are in the process of adding more problem sets.  <a href="contact.html">Feedback</a> is greatly appreciated!</p>
	    				<hr>
	    				<table>
	    					<tr>
	    						<td style="width:40%">
	    						<p>Current Session id: <b>{{session}}</b></p>
								<p>You may:</p>
								<p><a class="btn btn-warning btn-small" ng-click="joinSession()">Join a session</a></p>
								<p><a class="btn btn-warning btn-small" ng-click="getSession()">Generate a session</a></p>
	    						</td>
	    						<td>
	    							<p><b>How it works:</b></p>
	    							<p><b>Join a session</b> allows you to join your friend's session. Get the session id from him/her now and start to have fun coding together.</p>
	    							<p><b>Generate a session</b> creates a new coding session for you. Pass the session id to your friend for him/her to collaborate with you.</p>
	    						</td>
	    					</tr>
	    				</table>
	    			</div>
	    			<hr>
    				<div id="note" class="alert alert-success">
	    				<p><span><b>Challenge: {{question}}</b></span></p>
	    				<p>Your task: {{playerTask}}</p>
	    				<p>Category: {{language}}</p>
		      			<p>Status: <span class="badge badge-warning">{{status}}</span></p>
			  			<p>Your Result: <span id="result" class="badge badge-warning">{{result}}</span></p>
			  			<p>Friend's Result: <span id="friendResult" class="badge badge-warning">{{friendResult}}</span></p>
			  			<p>Collaboration Result: <span id="compiledResult" class="badge badge-warning">{{compiledResult}}</span></p>
			  			<p><a class="btn btn-warning btn-small" ng-click="verify()">Verify your code</a></p>
			  			<p><a class="btn btn-warning btn-small" ng-click="verifyCompile()">Verify collaborative effort</a></p>
			  			
		  			</div>
	    		</div>
		  		<h6 id="my_editor_header"></h6>
	      		<div id="my_editor" class="pull-left"></div>
	      		<h6 id="friend_editor_header"></h6>
	      		<div id="friend_editor" class="pull-right"></div>
	    	</div>
  		</div>
	  </div>
      
      <hr>
      <div class="footer">
        <div class="well well-small">
      		<p>
      			<b>
      				Affiliates: | 
      				<a href="http://ec2-54-251-120-78.ap-southeast-1.compute.amazonaws.com">MapReduce</a> | 
      				<a href="http://codefu-5euzxjdg6b.elasticbeanstalk.com/codeKungfu.jsp">Code Kungfu</a> | 
      				<a href="http://scratchpad-dscqvjpx3v.elasticbeanstalk.com ">scratchpad</a> | 
      				<a href="http://afacebook.appspot.com">afacebook</a> |
      				<a href="https://apps.facebook.com/beattherpsbots/">Beat the Bots</a> 
      			</b>
      		</p>
      	</div>
      	<div style="margin-top:-1px;margin-right:-65px"class="fb-like pull-right" data-href="http://codeben2o.elasticbeanstalk.com/" data-send="false" data-width="450" data-show-faces="true" data-font="arial" data-action="recommend"></div>
        <p>&copy; Team CodeBen2o</p>
      </div>
      
    </div> <!-- /container -->
  </body>
  
  <!-- Ace Editor -->
  <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="assets/js/controller.js"></script>
   
  <script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=138311809684130";
	  fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));
  </script>
</html>